<footer class="footer bg-theme-light/50">
  <div class="container">
    <div class="row gx-5 pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <a href="index.html">
          <img src="images/logo.svg" alt="Trung Tâm Giáo Dục" />
        </a>
        <p class="mt-6">
          Trung tâm giáo dục uy tín, chuyên đào tạo tư duy triết học
          và kỹ năng sống cho trẻ em từ 6-15 tuổi.
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Liên Hệ</h6>
        <p class="mb-2">
          <strong>Địa chỉ:</strong><br/>
          123 Đường Giáo Dục, Quận 1<br/>
          TP. Hồ Chí Minh
        </p>
        <p class="mb-2">
          <strong>Điện thoại:</strong><br/>
          (028) 1234 5678
        </p>
        <p>
          <strong>Email:</strong><br/>
          info@giaoduc.vn
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Liên Kết Nhanh</h6>
        <ul>
          <li>
            <a href="khoa-hoc.html">Khóa Học</a>
          </li>
          <li>
            <a href="tu-van.html">Tư Vấn</a>
          </li>
          <li>
            <a href="thu-vien.html">Thư Viện</a>
          </li>
          <li>
            <a href="cau-lac-bo.html">Câu Lạc Bộ</a>
          </li>
          <li>
            <a href="goc-giai-dap.html">Góc Giải Đáp</a>
          </li>
          <li>
            <a href="contact.html">Liên Hệ</a>
          </li>
        </ul>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Theo Dõi Chúng Tôi</h6>
        <p class="mb-4">Kết nối với chúng tôi trên mạng xã hội</p>
        <ul class="social-icons mt-4 lg:mt-6">
          <li>
            <a href="https://facebook.com" target="_blank" title="Facebook">
              <svg
                width="19"
                height="21"
                viewBox="0 0 20 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.1056 10.4495C19.1056 5.09642 15 0.759277 9.9327 0.759277C4.86539 0.759277 0.759766 5.09642 0.759766 10.4495C0.759766 15.2946 4.08865 19.3191 8.49018 20.0224V13.2627H6.15996V10.4495H8.49018V8.33951C8.49018 5.91696 9.85872 4.54939 11.93 4.54939C12.9657 4.54939 14.0013 4.74476 14.0013 4.74476V7.12823H12.8547C11.7081 7.12823 11.3382 7.87063 11.3382 8.65209V10.4495H13.8904L13.4835 13.2627H11.3382V20.0224C15.7398 19.3191 19.1056 15.2946 19.1056 10.4495Z"
                  fill="#222222"
                />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://youtube.com" target="_blank" title="YouTube">
              <svg
                width="19"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.543 4.084c-.23-1.118-.957-1.99-2.033-2.228C15.807 1.5 10 1.5 10 1.5s-5.807 0-7.51.356C1.414 2.094.687 2.966.457 4.084.1 5.747.1 9.25.1 9.25s0 3.503.357 5.166c.23 1.118.957 1.99 2.033 2.228C4.193 17 10 17 10 17s5.807 0 7.51-.356c1.076-.238 1.803-1.11 2.033-2.228.357-1.663.357-5.166.357-5.166s0-3.503-.357-5.166zM7.998 12.346V6.154l5.002 3.096-5.002 3.096z"
                  fill="#222222"
                />
              </svg>
            </a>
          </li>
          <li>
            <a href="https://zalo.me" target="_blank" title="Zalo">
              <svg
                width="19"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10 0C4.477 0 0 3.833 0 8.556c0 2.689 1.456 5.111 3.75 6.644v3.3l3.056-1.667c.711.156 1.456.223 2.194.223 5.523 0 10-3.833 10-8.556C20 3.833 15.523 0 10 0zm1 11.5l-2.5-2.667L3 11.5l5.5-5.833L11 8.333l5.5-2.666L11 11.5z"
                  fill="#222222"
                />
              </svg>
            </a>
          </li>
        </ul>

        <!-- Bản đồ Google Map -->
        <div class="mt-6">
          <h6 class="mb-3">Vị Trí</h6>
          <div class="rounded-lg overflow-hidden" style="height: 200px;">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3224854981956!2d106.69746631528888!3d10.788252992313966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f38f9ed887b%3A0x14aded5703768989!2zUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1234567890123!5m2!1svi!2s"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p>© 2024 Trung Tâm Giáo Dục. Tất cả quyền được bảo lưu.</p>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<script src="plugins/shufflejs/shuffle.js"></script>

<!-- Main Script -->
<script src="scripts/main.js"></script>
